# basic
numpy
scikit-learn
pandas
seaborn
matplotlib

# visualization
mlxtend  # for decision regions
# gap_stat - issues with uv and new Python releases (3.11 and above)
missingno

torch
torchvision
torchaudio
torchtext
pytorch-lightning

# time series
u8darts[torch, pmdarima]

#ctgan
sdv

pandasgui
# pypiwin32  # requirement for pandsasgui under windows
# wordcloud - on windows has to be installed from mr Gholke repository of prebuil packages

click

# project 2024
nba_api
