scikit-learn
matplotlib
pandas
numpy
mlxtend
gap_stat
seaborn
missingno
gap-stat

torch
torchvision
torchaudio
torchtext
pytorch-lightning

u8darts[torch, pmdarima]

pandasgui
pypiwin32  # requirement for pandsasgui under windows
# wordcloud - on windows has to be installed from mr Gholke repository of prebuil packages

click
